# Database environment variables
DATABASE_URL=sqlite://{path-to-db-file}

# Security settings
SECRET_KEY=your-super-secret-key-here
ALGORITHM=your-algorithm-here
ACCESS_TOKEN_EXPIRE_MINUTES=your-expire-time-in-minutes-here

# Gemini / Chatbot & OCR Settings
GEMINI_API_KEY=your-gemini-api-key-here
GEMINI_MODEL=your-gemini-model-here