# PostgreSQL Docker settings
POSTGRES_USER=my_finscan_user
POSTGRES_PASSWORD=my_finscan_pass
POSTGRES_DB=my_finscan_db

# Database environment variables (Para quando corres localmente com uvicorn)
# Altera "localhost" para "db" se não usares docker-compose. Mas dentro do container, o compose trata de construir isto automaticamente.
DATABASE_URL=postgresql://my_finscan_user:my_finscan_pass@localhost:5432/my_finscan_db

# Security settings
SECRET_KEY=your-super-secret-key-here
ALGORITHM=your-algorithm-here
ACCESS_TOKEN_EXPIRE_MINUTES=your-expire-time-in-minutes-here

# pgAdmin (Docker)
PGADMIN_EMAIL=admin@finscan.local
PGADMIN_PASSWORD=admin

# Gemini / Chatbot & OCR Settings
GEMINI_API_KEY=your-gemini-api-key-here
GEMINI_MODEL=your-gemini-model-here

# SMTP Email Settings
SMTP_USER=your-smtp-user-here
SMTP_PASSWORD=your-smtp-password-here
EMAILS_FROM=your-email-from-address-here